<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="userPage.js"></script>
</head>
<body>
<!--верхняя панель-->
<nav class="navbar navbar-expand bg-dark">
    <div class=" navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item text-info">
                <div class="navbar-text" id="user_info">
                </div>
            </li>
        </ul>
        <il class="nav-item">
            <a class="nav-link text-secondary" href="/logout">Logout</a>
        </il>
    </div>
</nav>

<div class="container-fluid p-0">
    <!--боковая панель-->
    <div class="row no-gutters">
        <div class="col-sm-2 pt-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="user-tab" data-toggle="pill"
                   href="#user" role="tab" aria-controls="user" aria-selected="false">User</a>
            </div>
        </div>

        <div class="col-sm-10 bg-light text-dark">
            <div class="tab-content px-4" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="admin" role="tabpanel"
                     aria-labelledby="admin-tab">
                    <h2 class="pt-3">User information page</h2>
                    <br>
                    <div class="tab-content">
                        <div id="user-table" class="container-fluid tab-pane active ">
                            <div class="row py-2 px-4 border">
                                <h4>About user</h4>
                            </div>
                            <div class="row py-4 px-4 bg-white border-left border-right border-bottom">
                                <!--1 вывести таблицу пользователей-->
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                    </tr>
                                    </tr>
                                    </thead>
                                    <tbody id="user_table_info">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</div>

</body>
</html>